main {
    padding-block: 1rem;
    margin-bottom: 2.5rem;
}

#highlights {
    margin-bottom: 2rem;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: .25rem;
    }

    & .card {
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(180deg,
                    transparent 0%,
                    #020617);
        }

        figcaption {
            width: 100%;
            position: absolute;
            bottom: 0;

            &:has(.text-lg) {
                padding: .75rem;
            }

            h2 {
                font: var(--h3);
            }
        }
    }

    & #main-news {
        & img {
            height: 26rem;
        }

        h2 {
            font-size: 1.5rem;
        }
    }

    @media (width >= 80em) {
        grid-auto-flow: column;
        
        & > div {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        margin-bottom: 5rem;
    }
}

#read-more {
    margin-bottom: 2rem;

    header {
        border-top: 1px solid var(--stroke-color);
        padding-top: .75rem;
    }

    &>div {
        margin-block: 1.5rem;

        p {
            font: var(--h2);
            margin-top: .5rem;
        }

        .content-tag {
            padding: 0rem .5rem;
            position: absolute;
            top: .5rem;
            left: .5rem;
        }

        figure {
            position: relative;
        }
    }

    @media (width >=80em) {
        & > div {
            display: grid;
            grid-auto-flow: column;
        }
    }
}

#end {
    @media (width >= 80em) {
        margin-top: 5rem;
        display: flex;

        #content {
            height: 11rem;

            figure {
                flex-direction: row-reverse;
                height: 100%;
            }

            img {
                height: 11rem;
                width: 11rem;
            }
        }
    }
    
}

#AI-highlights {
    img {
        margin-top: 3px;
        height: 5rem;
        width: 5rem;
    }

    header {
        border-top: 1px solid var(--stroke-color);
        padding-top: .75rem;
        margin-bottom: 1.5rem;
    }

    figure {
        .content {

            & h2 {
                margin-block: .5rem 0.25rem;
                font: var(--h2);
                width: 100%;
            }

            & p {
                font: var(--text);
                line-height: 160%;
                color: var(--text-color-secondary);
            }
        }
    }
}

aside {
    #ads {
       margin-bottom: 2rem;

       @media (width <= 80em) {
        margin-block: 2rem;
       }
    }

    header {
        margin-bottom: 1.5rem;
    }

    #saw-it-here {
        gap: 2rem;
        width: 100%;

        & figure {
            width: 100%;

            img {
            margin-top: 3px;
            height: 4.5rem;
            width: 4.5rem;
            object-fit: contain;
        }

        .cut-content {
            h2 {
                margin-top: .5rem;
                font: var(--h3);
            }
        }
        }
        
    }
}